<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="{% url 'test_result' %}" method="post">
    <div align="center">
        {% csrf_token %}
        {% for question in questions %}
            {{ question.question }}<input name="{{ question.id }}" type="text"><br>
        {% endfor %}
        <input type="hidden" name="username" value="{{ name }}"><br>
        <button type="submit">Finish</button>
    </div>
    </form>
</body>
</html>